*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
}

header{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: black;
}

h2, h3, p, span{
  color: white;
}

h2, h3{
  margin-bottom: 5px;
}

.risultato_vuoto{
  padding-left: 20px;
}

/* .pagine-film:first-child{
  color: white;
} */

.fa-circle{
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 5px;
  font-size: 18px;
}

.fa-circle:hover{
  color: gray;
}

.colorWhite{
  color: white;
}

p.trama{
  font-weight: 400;
}

.fa-star {
  color: gold;
}

.header-left h1{
  color: red;
  cursor: pointer;
}

.header-right button{
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
}

.header-right input[type=text]{
  outline:none;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 2px solid red;
}

.filtri{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

label{
  color: white;
  margin-right: 5px;
  font-weight: 500;
}

select{
  color: white;
  outline:none;
  border: none;
  cursor: pointer;
}

#scegliLingua{
  background-color: black;
  margin-right: 25px;
}

#genere-film, #genere-tv {
  background-color: #202020;
}

option{
  border: none;
}

.margin-left-50{
  margin-left: 50px;
}

main{
  background-color: #202020;
  height: calc(100vh - 100px);
  width: 100vw;
}

.container{
  height: calc(100% - 60px);
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container h1{
  /* display: none; */
  margin-top: 50px;
  color: white;
  margin-left: 20px;
}

.img-film img{
  width: 342px;
  height: 513px;
  object-fit: cover;
  color: white;
}

.container-film{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.container-tv{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.info-film{
  position: relative;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 342px;
  height: 513px;
  float: left;
  cursor: pointer;
}

.film_serieTv{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  border: 4px solid red;
  background-color: rgba(0, 0, 0, 0.92);
  padding: 5px;
  display: none;
  overflow-y: auto;
}

.pagine-film, .pagine-tv{
  margin-left: 20px;
  margin-right: 20px;
}

.pagine-tv{
  margin-bottom: 20px;
}

.bandiera{
  width: 25px;
  vertical-align: middle;
}

.info-film:hover .film_serieTv{
  display: block;
}

/* width */
.film_serieTv::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
